body{
	background-color: #404040;
}

.wrapper{
	display: block;
	width: 1024px;	
	background-color: #C0C0C0; 
	border-radius: 15px;
	padding-bottom: 20px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

h1 {
  padding: 10px;
  font-size:30px;
}

header {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

span.viber{
	color: #609;
}

span.whatsApp{
	color: #30d74c;
}

span.skype{
	color: #00aaf1;
}

span.mail{
	color: #e34c41;
}

li {
	font: normal 22px/28px Kazimir-Medium,'Helvetica CY', Arial, sans-serif;
}

strong {
  color: #3F42FF;
}

a:link {
  color: #404040;
}

a:visited {
  color: #404040;
}

a:hover {
  color: #FF0000;
}

footer{
	padding-top: 20px; 
	padding-left: 30px;
}

img{
	display: inline-block;
	width: 400px;
	margin-left: 10%;
	border-radius: 10px;
}
