* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 1280px;
  height: 100vh;
  background-color: rgb(218, 226, 226);
  border: 1px solid gray;
  flex-wrap: wrap;
}

body {
  background-image: url(wood_wall_4.jfif);
}

header {
  height: 10vh;
  text-align: center;
  background-color: gray;
  box-shadow: 0 0 5px 0 rgb(0 0 3);
  /*  */
}
h2 {
  padding-top: 30px;
}
main {
  display: block;
  width: 1280px;
  height: 80vh;
  background-color: rgb(128 128 128 / 3%)
  border: 1px solid gray;
}

section {
  display: flex;
  height: 360px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article {
  padding-left: 50px;
}

ol {
  padding-left: 17px
}

.avatar img {
  height: 250px;
  border-radius: 50%;
  margin-right: 50px;
  border: solid 5px gray;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #808080;
  box-shadow: 0 0 5px 0 rgb(0 0 3);
}

.rs-logo-img {
  height: 60px;
  margin-right: 40px;
}

span.viber {
  color: #609;
}

span.whatsApp {
  color: #30d74c;
}

span.skype {
  color: #00aaf1;
}

span.mail {
  color: #e34c41;
}

li,
h1,
h2,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

strong {
  color: #795548;
}

a:link {
  color: #404040;
}

a:visited {
  color: #404040;
}

a:hover {
  color: #F06C64;
  transition: all 0.4s ease;
}

